USE [db_a9ef7d_bitedetector]
GO
/****** Object:  Table [dbo].[Contacto]    Script Date: 22/9/2023 09:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacto](
	[IdContacto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
	[Numero] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Contacto] PRIMARY KEY CLUSTERED 
(
	[IdContacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contactos_Generales]    Script Date: 22/9/2023 09:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contactos_Generales](
	[IdContactos_Generales] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [int] NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Contactos_Generales] PRIMARY KEY CLUSTERED 
(
	[IdContactos_Generales] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historial]    Script Date: 22/9/2023 09:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historial](
	[IdPicadura] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insecto]    Script Date: 22/9/2023 09:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insecto](
	[IdInsecto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](250) NOT NULL,
	[SintomasGraves] [varchar](max) NULL,
	[SintomasLeves] [varchar](max) NULL,
	[Recomendaciones] [varchar](max) NULL,
	[Foto] [varchar](1024) NULL,
	[MasInfo] [varchar](max) NULL,
 CONSTRAINT [PK_Insecto] PRIMARY KEY CLUSTERED 
(
	[IdInsecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Picadura]    Script Date: 22/9/2023 09:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Picadura](
	[IdPicadura] [int] IDENTITY(1,1) NOT NULL,
	[Foto] [varchar](max) NULL,
	[Estado] [nvarchar](max) NULL,
	[IdInsecto] [int] NULL,
	[Probabilidades] [float] NULL,
 CONSTRAINT [PK_Picadura] PRIMARY KEY CLUSTERED 
(
	[IdPicadura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 22/9/2023 09:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Mail] [varchar](max) NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[Token] [varchar](max) NULL,
	[ExpirationDate] [datetime] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Contacto] ON 

INSERT [dbo].[Contacto] ([IdContacto], [Nombre], [Numero], [IdUsuario]) VALUES (1, N'mama', 1543126678, 1)
INSERT [dbo].[Contacto] ([IdContacto], [Nombre], [Numero], [IdUsuario]) VALUES (2, N'Mama', 1544562341, 1)
SET IDENTITY_INSERT [dbo].[Contacto] OFF
GO
INSERT [dbo].[Historial] ([IdPicadura], [IdUsuario]) VALUES (1, 1)
GO
SET IDENTITY_INSERT [dbo].[Insecto] ON 

INSERT [dbo].[Insecto] ([IdInsecto], [Nombre], [SintomasGraves], [SintomasLeves], [Recomendaciones], [Foto], [MasInfo]) VALUES (3, N'None', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Insecto] OFF
GO
SET IDENTITY_INSERT [dbo].[Picadura] ON 

INSERT [dbo].[Picadura] ([IdPicadura], [Foto], [Estado], [IdInsecto], [Probabilidades]) VALUES (1, N'img.jpg', N'Correcto', 1, 23)
INSERT [dbo].[Picadura] ([IdPicadura], [Foto], [Estado], [IdInsecto], [Probabilidades]) VALUES (4, N'asd.jpg', N'Correcto', 1, 14)
SET IDENTITY_INSERT [dbo].[Picadura] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [Mail], [Nombre], [Password], [Token], [ExpirationDate]) VALUES (1, N'manolisguido@gmail.com', N'bicho', N'Guido', NULL, NULL)
INSERT [dbo].[Usuario] ([IdUsuario], [Mail], [Nombre], [Password], [Token], [ExpirationDate]) VALUES (2, N'manolisguido@gmail.com', N'bicho', N'Guido', NULL, NULL)
INSERT [dbo].[Usuario] ([IdUsuario], [Mail], [Nombre], [Password], [Token], [ExpirationDate]) VALUES (3, N'manolisguido@gmail.com', N'hola123', N'Guido', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Contacto]  WITH CHECK ADD  CONSTRAINT [FK_Contacto_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Contacto] CHECK CONSTRAINT [FK_Contacto_Usuario]
GO
ALTER TABLE [dbo].[Historial]  WITH CHECK ADD  CONSTRAINT [FK_Historial_Picadura] FOREIGN KEY([IdPicadura])
REFERENCES [dbo].[Picadura] ([IdPicadura])
GO
ALTER TABLE [dbo].[Historial] CHECK CONSTRAINT [FK_Historial_Picadura]
GO
ALTER TABLE [dbo].[Historial]  WITH CHECK ADD  CONSTRAINT [FK_Historial_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Historial] CHECK CONSTRAINT [FK_Historial_Usuario]
GO
ALTER TABLE [dbo].[Picadura]  WITH CHECK ADD  CONSTRAINT [FK_Picadura_Insecto] FOREIGN KEY([IdInsecto])
REFERENCES [dbo].[Insecto] ([IdInsecto])
GO
ALTER TABLE [dbo].[Picadura] CHECK CONSTRAINT [FK_Picadura_Insecto]
GO
